<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>绑定银行卡</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/base.css" />
    <link rel="stylesheet" type="text/css" href="../../css/custom.css" />
    <link rel="stylesheet" type="text/css" href="../../css/touchslider.css" />
    <link rel="stylesheet" type="text/css" href="../../css/coin.css" />
    <script src="../../script/const.js"></script>
    <style>
        html,
        body {
            font-size: 16px;
            background: #fff;
        }

        .bindBox {
            padding: 0 15px 10px;
        }

        .input-row {
            margin: 8px 0;
            font-size: 16px;
        }

        .input-row input,
        .input-row input::-webkit-input-placeholder {
            font-size: 16px;
            color: #B5C0CF;
        }

        .input-row .coinName {
            margin-left: 10px;
            color: #B5C0CF;
        }

        .saveBind {
            background: #3D80CE;
            width: 90%;
            color: #fff;
            height: 2.2rem;
            font-size: 16px;
        }

        .saveBind:disabled {
            background: #C7CED4;
        }

        .myadv {
            font-size: 14px;
            margin-top: 25px;
        }

        .input-box {
            border-bottom: 1px solid #DCE1E5;
        }

        .saveBind {
            margin-top: 30px;
        }

        .img_row {
            margin-top: 10px;
        }

        .img_row img {
            width: 80px;
            height: 80px;
        }
    </style>
</head>

<body>
    <div id="app">

        <!--头部标题-->
        <div class="com_head blue">
            <div class="back_but" onclick="$A.change_frame('payType')"></div>
            <div class="title">綁定銀行卡</div>
        </div>
        <div class="bindBox">
            <div class="input-row sellRow">
                <label class="fs14">开户银行</label>
                <div class="input-box"  @click="bankList">
                  <input type="text" v-model="bankName" placeholder="請选择开户银行" class="flex-con" readonly>
                </div>
            </div>
            <div class="input-row">
                <label class="fs14">銀行卡號</label>
                <div class="input-box flex-box-between">
                    <input type="number" v-model="account" placeholder="請輸入銀行卡號" class="flex-con">
                </div>
            </div>
            <div class="input-row sellRow">
                <label class="fs14">姓名</label>
                <div class="input-box">
                    <input type="number" v-model="name" placeholder="" disabled class="flex-con">
                </div>
            </div>
            <div class="tx-c">
                <button class="aui-btn saveBind" type="button" >保存</button>
            </div>
        </div>
    </div>

</body>

</html>

<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../script/lib/base.js"></script>
<script type="text/javascript" src="../../script/lib/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            name: '',
            account: '',
            bankName: '',
            list:[{
                name: '中国银行',
                phone: 123
            }, {
                name: '光大银行',
                phone: 456
            }, {
                name: '建设银行',
                phone: 5555
            }]
        },
        mounted: function() {

        },
        methods: {
            bankList: function() {
                var UIActionSelector = api.require('UIActionSelector');
                UIActionSelector.open({
                    datas: app.list,
                    layout: {
                        row: 5,
                        col: 1,
                        height: 30,
                        size: 16,
                        sizeActive: 18,
                        rowSpacing: 10,
                        colSpacing: 10,
                        maskBg: 'rgba(0,0,0,0.4)',
                        bg: '#fff',
                        color: '#888',
                        colorActive: '#000',
                        colorSelected: '#000'
                    },
                    animation: true,
                    cancel: {
                        text: '取消',
                        size: 16,
                        w: 90,
                        h: 35,
                        bg: '#fff',
                        bgActive: '#ccc',
                        color: '#999',
                        colorActive: '#fff'
                    },
                    ok: {
                        text: '确定',
                        size: 14,
                        w: 90,
                        h: 35,
                        bg: '#fff',
                        bgActive: '#ccc',
                        colorActive: '#fff'
                    },
                    title: {
                        text: '',
                        size: 12,
                        h: 44,
                        bg: '#fff',
                        color: '#888'
                    },
                    selectorDividerColor: '#fff',
                    selectedBold: false,
                    // fixedOn: api.frameName
                }, function(ret, err) {
                    if (ret.eventType == 'ok') {
                        app.bankName = ret.selectedInfo[0].name;
                    }
                });
            },
            // 上传信息
            submit: function(type) {
                if (!(this.idcard.length === 18 || this.idcard.length === 15)) {
                    $A.toast('【證件-號碼】錯誤')
                    return
                }
                if (this.true_name.length < 2) {
                    $A.toast('【證件-真實姓名】錯誤')
                    return
                }
                // if (this.idcardimg1.length === 0) {
                //     $A.toast('【手持證件照】-未選擇')
                //     return
                // }
                if (this.idcardimg2.length === 0) {
                    $A.toast('【證件-正面】-未選擇')
                    return
                }
                if (this.idcardimg3.length === 0) {
                    $A.toast('【證件-反面】-未選擇')
                    return
                }
                var params = {
                    idcard: this.idcard,
                    truename: this.true_name,
                    idcardimg1: this.idcardimg1,
                    idcardimg2: this.idcardimg2,
                    idcardimg3: this.idcardimg3,
                }
                $A.request('user/card_save', params, function(data) {
                    api.sendEvent({
                        name: 'auth_info_submit',
                        extra: {
                            status: 3
                        }
                    });
                    $api.setStorage('idcardauth', 3)
                    $A.alert('信息已經上傳,請等待系統處理通過')
                    $A.change_frame('user_center_index')
                })

                //this.choose_by_album(type)
            },
            choose_by_album: function(type) {
                var UIAlbumBrowser = api.require('UIAlbumBrowser');
                var $this = this
                UIAlbumBrowser.open({
                    max: 1,
                    styles: {
                        bg: '#fff',
                        mark: {
                            icon: '',
                            position: 'bottom_left',
                            size: 20
                        },
                        nav: {
                            bg: 'rgba(0,0,0,0.6)',
                            titleColor: '#fff',
                            titleSize: 18,
                            cancelColor: '#fff',
                            cancelSize: 16,
                            finishColor: '#fff',
                            finishSize: 16
                        }
                    },
                    rotation: true
                }, function(ret) {
                    if (ret && ret.list && ret.list.length) {
                        //$A.alert(JSON.stringify(ret))
                        var image = ret.list[0]
                        if ($A.isAndroid()) {
                            $this.upload_icon(image.path, type)
                        } else {
                            // iOS需要路径转化
                            UIAlbumBrowser.transPath({
                                path: image.path
                            }, function(ret, err) {
                                if (ret) {
                                    //$A.alert(JSON.stringify());
                                    $this.upload_icon(ret.path, type)
                                } else {
                                    //alert(JSON.stringify(err));
                                }
                            });
                        }


                        //$A.alert('相册选择:' + JSON.stringify(image.path));
                    }
                });
            },

            upload_icon: function(imagePath, type) {
                var fileParams = {}
                var $this = this
                fileParams['idcardimg' + type] = imagePath
                var fun = function(data) {
                    $this['idcardimg' + type] = data
                    $this['idcardimg' + type + '_local'] = imagePath
                    $this.$forceUpdate()
                        //$A.toast('上传成功')
                        //$A.alert('上传完毕:' + $A.domname + $this['idcardimg' + type]);
                }
                $A.request('user/card_upload', {
                    token: api.getPrefs({
                        sync: true,
                        key: 'token'
                    })
                }, fun, null, fileParams)
            }


        }
    })

    $(function() {
        $('.auth_submit_page').css('minHeight', $A.get_body_height() + 'px')
    })
</script>
