<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>支付方式管理</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/base.css" />
    <link rel="stylesheet" type="text/css" href="../../css/custom.css" />
    <link rel="stylesheet" type="text/css" href="../../css/touchslider.css" />
    <link rel="stylesheet" type="text/css" href="../../css/coin.css" />
    <script src="../../script/const.js"></script>
    <style>
        html,
        body {
            font-size: 16px;
            cursor: pointer;
            background: #fff;
        }

        .aui-bar-nav .aui-btn .aui-iconfont {
            color: #8F9EAB;
            font-weight: bold;
        }

        .orderList {
            padding: 0 0 10px;
        }

        .gray {
            color: #97A5B1;
        }

        .blue {
            color: #273F57;
        }

        .orderStatus {
            color: #4082CF;
        }

        .item {
            padding: 15px;
            border-bottom: 1px solid #F1F3F4;
        }

        .title {
            font-size: 14px;
            color: #B5C0CF;
        }
    </style>
</head>

<body>
    <div id="app">
        <!--头部标题-->
        <div class="com_head blue">
            <div class="back_but" onclick="$A.change_frame('user_setup_index')"></div>
            <div class="title">收款信息管理</div>
        </div>
        <div id="orderList" class="orderList" style="overflow: auto">
            <div class="item"  @click="bindFor(0)">
                <div class="flex-box-between">
                    <div class="orderStatus blue">{{pay_bank?pay_bank.bank_name:'銀行卡'}}</div>
                    <div class="gray">{{pay_bank?'':'未綁定'}} <span v-if="!pay_bank" class="aui-iconfont aui-icon-right"></span></div>
                </div>
                <div v-if="pay_bank" class="title aui-margin-b-10 aui-margin-t-15">
                    {{pay_bank.ture_name}}
                </div>
                <div v-if="pay_bank" class="blue userName">{{pay_bank.card}}</div>
            </div>
            <div  class="item"  @click="bindFor(1)">
                <div class="flex-box-between">
                    <div class="orderStatus blue">支付寶</div>
                    <div class="gray">{{pay_alipay?'':'未綁定'}} <span v-if="!pay_alipay" class="aui-iconfont aui-icon-right"></span></div>
                </div>
                <div v-if="pay_alipay" class="title aui-margin-b-10 aui-margin-t-15">
                    {{pay_alipay.ture_name}}
                </div>
                <div v-if="pay_alipay" class="blue userName">{{pay_alipay.account}}</div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../script/lib/base.js"></script>
<script type="text/javascript" src="../../script/lib/vue.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            pay_bank:'',
            pay_alipay:'',
            account:''
        },
        mounted: function() {
            var $this = this;

            setTimeout(function () {
                $this.getType();
                 api.addEventListener({
                     name: 'changePay'
                 }, function(ret, err) {
                        $this.getType();
                 });
            }, 600)
        },
        methods: {
            bindFor: function(type) {
              if (type==0&&!this.pay_bank) {
                  api.openFrame({
                      name: 'bindCard',
                      url: '../user_center/bindCard.html',
                      pageParam: {
                          account: this.account
                      }
                  });
              }
              if(type==1&&!this.pay_alipay){
                  api.openFrame({
                      name: 'bindCard',
                      url: '../user_center/bindAliPay.html',
                      pageParam: {
                          account: this.account
                      }
                  });
              }
            },
            getType: function() {
                var $this = this;
                $A.request('user/get_pay_info', {}, function(data) {
                    // console.log(JSON.stringify(data));
                    $this.pay_bank = data.pay_bank;
                    $this.pay_alipay = data.pay_alipay;
                    $this.account = data.true_name;
                })
            }
        }
    })
</script>

</html>
